<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>苏轼</string>
		<key>title</key>
		<string>定风波·莫听穿林打叶声</string>
		<key>content</key>
		<string>莫听穿林打叶声， 何妨吟啸且徐行， 竹杖芒鞋轻胜马， 谁怕？ 一蓑烟雨任平生。   料峭春风吹酒醒， 微冷， 山头斜照却相迎， 回首向来萧瑟处， 归去， 也无风雨也无晴。</string>
	</dict>
	<dict>
		<key>author</key>
		<string>苏轼</string>
		<key>title</key>
		<string>定风波·莫听穿林打叶声</string>
		<key>content</key>
		<string>莫听穿林打叶声， 何妨吟啸且徐行， 竹杖芒鞋轻胜马， 谁怕？ 一蓑烟雨任平生。   料峭春风吹酒醒， 微冷， 山头斜照却相迎， 回首向来萧瑟处， 归去， 也无风雨也无晴。</string>
	</dict>
</array>
</plist>
